{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

<div class="container">

    {% if message%}
    <h3>{{message}}</h3>
    {%endif%}

    <form method="POST">
        <div class="form-group">
  
            <label>Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title">
            <tr></tr>
            <input type="text" name="image_url" class="form-control" placeholder="image_url"><td>
            <textarea rows="3" placeholder="Write post here..."></textarea><td>
        </div>
        <input type="hidden" name="user_id" value="{{current_user.id}}" />
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

</div>

<div class="container">

</div>

{% endblock%}