{% extends 'base.html'%}

{% block content %}

<div class="container">
    <div class="row">
        {% for id, title, content, image_url, created_at in myposts %}
        <div class="col-lg-3 img-container">
            <a href="{{url_for('home.single_post',id=id)}}">
                <img src="{{image_url}}" alt="">
                <small>Posted {{created_at}}</small>
                <p>{{title}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright text-muted">Copyright &copy; Nguthism 2020</p>
            </div>
        </div>
    </footer>
</div>


{% endblock%}