{% extends 'base.html'%}

<!-- Content block -->
{% block content %}


<div class="container">
    <div class="row">
      <div class="col-lg-4">
  
  
        <h1>title</h1>
        <p>Post description</p>
        <small>01/08/2020</small>
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="Write comment here..."></textarea>
        </div>
        <button class="btn btn-secoondary" type="submit">Post</button>
      </div>
    </div>
  </div>


  {% endblock%}
  