{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

<div class="container">

    {% if message%}
    <h3>{{message}}</h3>
    {%endif%}

    <form method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control">
            <input <a href="image_url"></a>>
            <textarea rows="3"></textarea>
        </div>
        <input type="hidden" name="user_id" value="{{current_user.id}}" />
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

</div>

<div class="container">

</div>

{% endblock%}